# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!Chess Game/Dependencies/*.obj


# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
Chess Game/.vs/Chess Game/v16/.suo
*.db
*.idb
*.tlog
Chess Game/.vs/Chess Game/v16/Browse.VC.db
Chess Game/Debug


